.ContaineTestPage {
  padding-top: 24px;
  padding-bottom: 30px;
  @media screen and (min-width: 768px) {
    padding-top: 42px;
    padding-bottom: 97px;
  }
}

.ContaineNameAndFinishButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    margin-bottom: 28px;
    width: 652px;
  }

  @media screen and (min-width: 1280px) {
    width: 820px;
  }
}

.titelTest {
  width: 130px;
  font-size: 14px;
  line-height: 1.1;
  @media screen and (min-width: 768px) {
    width: 250px;
    font-size: 22px;
  }
}

.btnFinish {
  margin: 0 0 0 auto;
  width: 130px;
  min-height: 48px;
  text-transform: uppercase;
  &:disabled {
    background-color: var(--color-label-placeholder);
    &:hover,
    &:focus {
      background-color: var(--color-label-placeholder);
    }
  }
  @media screen and (min-width: 768px) {
    width: 190px;
  }
}
