.wrapper {
  @media screen and (min-width: 768px) {
    width: 540px;
  }
  @media screen and (max-width: 1279px) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1280px) {
    width: calc((100% - 315px) / 2);
    margin-top: 71px;
  }
}

.title {
  margin-bottom: 10px;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.2;
  @media screen and (min-width: 768px) {
    margin-bottom: 20px;
    font-size: 30px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 34px;
  }
}

.description {
  line-height: 1.66;
  @media screen and (min-width: 768px) {
    line-height: 2.25;
  }
  @media screen and (min-width: 1280px) {
    width: 420px;
  }
}

.boldText {
  font-weight: bold;
}
