@import '../../styles/variables.scss';

.containerHomePage {
  padding-top: 30px;
  @media screen and (min-width: 768px) {
    padding-top: 80px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 122px;
  }
}

.title {
  position: relative;
  margin: 0 auto;
  width: 280px;
  margin-bottom: 33px;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 130px;
    bottom: -20px;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.15;
    border-bottom: 1px solid var(--color-tema-background);
    @media screen and (min-width: 768px) {
      bottom: -30px;
      width: 321.5px;
    }
  }

  @media screen and (min-width: 768px) {
    width: 650px;
    font-size: 22px;
    margin-bottom: 43px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 22px;
    margin-bottom: 42px;
  }
}

.nameTest {
  text-align: center;
  margin-bottom: 4px;
}

.conteinerTest {
  margin-bottom: 33px;
  @media screen and (min-width: 1280px) {
    display: flex;
    flex-wrap: nowrap;
  }
}
.descriptionTest {
  text-align: center;
  margin-bottom: 40px;
  @media screen and (min-width: 768px) {
    margin-bottom: 60px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 84px;
  }
}

.blokTema {
  margin-bottom: 20px;
  width: 280px;
  height: 212px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-tema-background);
  &:hover {
    box-shadow: $shadow-hover var(--color-tema-background);
    border: 1px solid var(--color-btn-border);
  }

  @media screen and (min-width: 768px) {
    width: 400px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
}

.blokTemaTest {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 212px;
  background-color: var(--color-btn-background);
  &:hover {
    box-shadow: $shadow-hover var(--color-btn-background-hover);
    border: 1px solid var(--color-btn-border);
  }
  @media screen and (min-width: 768px) {
    width: 400px;
    margin: 0 auto;
  }
}

.text {
  width: 177px;
  height: 58px;
  font-weight: 800;
  font-size: 24px;
  line-height: 1.1;
  text-align: center;
  color: white;
  span {
    display: block;
  }
  @media screen and (min-width: 768px) {
    height: 78px;

    width: 240px;
    font-size: 32px;
    line-height: 39px;
  }
  @media screen and (min-width: 1280px) {
    width: 374px;
  }
}

.link {
  padding: 60px 51px 46px 51px;
  text-decoration: none;
  text-align: center;
  @media screen and (min-width: 768px) {
    padding: 60px 12px 45px 12px;
  }
  @media screen and (min-width: 1280px) {
    padding: 60px 14px 45px 14px;
  }
}

.btnArrow {
  width: 24px;
  height: 16px;
  fill: white;
  margin-top: 32px;
  @media screen and (min-width: 768px) {
    margin-top: 15px;
  }
}
